@import "_theme";

.app-list {
  padding: 5px;
  margin-bottom: 10px;
  border: black solid 3px;
  width: 100%;
  background-color: $app-light;

}

.fa-minus-circle  {
  color: red;
  font-size: 2em;
  }
.fa-minus-circle:hover {
    color: green;
  }

.fa-minus-circle:active {
    color: blue;
  }

.fa-pencil-square {
  color: red;
  font-size: 2em;
  }

.fa-pencil-square:hover {
      color: green;
    }

.fa-pencil-square:active {
      color: blue;
    }
