@import "_theme";

.app-list {
  float: left;
  width: 80%;
  padding: 15px;
  background-color: $app-light;
  border-style: solid;
  border-radius: 8px;
  border-width: 3px;
  border-color: black;
  font-size: 1em;
}
