$app-blue: #202057;
$app-white: #E4D7D6;
$app-teal: #1897A8;
$app-pink: #ff7a7a;
$app-green: #00ff39;
$app-light: #fff;
$app-dark: #000;
$app-focus: #7a7aff;
$app-active: #fafa77;
$app-disabled: #777;
