<form class="app-create-note-form" novalidate ng-submit="createNote({note: note})">
  <div class="form-group">
    <label for="name">Details: </label>
    <input class="form-control" type="text" name="name" ng-model="note.name">
  </div>
  <div class="form-group">
    <!-- how you set data box -->
    <label for="content">Due: </label>
    <input class="form-control" type="text" name="content" ng-model="note.content">
  </div>
  <button class="btn btn-default" type="submit"> + </button>
</form>
